@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
	body,
	input,
	select,
	textarea,
	.normal-color {
		@apply text-black dark:text-gray-100;
	}

	body,
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	select,
	textarea,
	.opaque {
		@apply bg-white dark:bg-gray-800;
	}

	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	select,
	textarea {
		@apply rounded border border-gray-300 dark:border-gray-500;
	}

	a {
		@apply text-blue-700 underline dark:text-blue-300;
	}

	summary {
		@apply cursor-pointer underline select-none;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	p + p {
		@apply mt-0.5;
	}

	@layer components {
		.odd-rows {
			@apply odd:bg-gray-200 odd:dark:bg-gray-700;
		}

		.even-rows {
			@apply even:bg-gray-200 even:dark:bg-gray-700;
		}

		.odd-bg {
			@apply bg-gray-200 dark:bg-gray-700;
		}

		.button-selected {
			@apply bg-blue-300 dark:bg-blue-700;
		}

		.markdown td,
		.markdown th {
			@apply border border-gray-600 p-2 dark:border-gray-300;
		}

		.markdown thead tr {
			@apply bg-gray-200 dark:bg-gray-700;
		}

		.markdown tbody tr {
			@apply even:bg-gray-200 even:dark:bg-gray-700;
		}

		.markdown hr {
			@apply my-1;
		}

		.markdown ul {
			@apply list-disc;
		}

		.markdown ol {
			@apply list-decimal;
		}

		.markdown li {
			@apply ml-4;
		}
	}

	button:disabled {
		@apply cursor-not-allowed opacity-70;
	}

	.like-button,
	button {
		@apply cannot-hover:py-2 block cursor-pointer rounded border border-gray-600 px-2 py-0 dark:border-gray-300;
	}

	.like-button {
		@apply text-center text-black no-underline dark:text-gray-100;
	}
}
